/* Estilos para el contenedor de tu plugin */
.wpgch-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wpgch-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.wpgch-container ul {
    list-style-type: none;
    padding: 0;
}

.wpgch-container li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wpgch-container strong {
    color: #0073aa;
}
